.fake{
  color: white;
}

:root {
  --black: #022a44;
  --lapislazuli: #355c7d;
  --indigodye: #194c79;
  --grape: #7937a6;
  --aquamarine: #05f2af;
  --turquoise: #04d9c4;
  --aero: #04b2d9;
  --white: #f7f8fa;
  --font-size: 1.3rem;
  --mono: "IBM Plex Mono", monospace;
  --sans: "IBM Plex Sans", sans-serif;
}

/* border box model: https://css-tricks.com/box-sizing/ */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* generic styles for the page */

body {
  padding: 0;
  margin: 0;
  font-family: var(--sans);
  background-color: var(--black);
  color: var(--white);
  font-size: var(--font-size);
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: var(--turquoise);
  transition: all ease-in-out 0.2s;
}

a:hover {
  color: var(--aquamarine);
  text-decoration: none;
}
img {
  width: 100%;
}

/* background color divs */

.section-grape {
  background-color: var(--grape);
}

.section-lapislazuli {
  background-color: var(--lapislazuli);
}
.section-indigodye {
  background-color: var(--indigodye);
}

.gradient {
  background: linear-gradient(90deg, #1a2873 0%, #5faad9 100%);
  height: 2px;
}

/* intro styles */

#intro {
  padding: 4rem 1rem 10rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#intro p {
  font-size: 1rem;
  line-height: 1.5;
}

#intro .name {
  font-family: var(--mono);
  font-size: 1rem;
}

.name span {
  font-family: var(--sans);
  font-size: 4rem;
  color: var(--aero);
  display: block;
  font-weight: 300;
}

#intro h2 {
  font-size: 4rem;
}

#hit-count {
  padding: 0 1rem;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.25rem;
}

#visitor-count {
  font-family: var(--mono);
  color: var(--black);
  background-color: var(--white);
}

/* contact section */

#contact {
  width: 400px;
  text-align: center;
  margin: 0 auto;
  padding: 4rem 0;
}

#contact p:last-child {
  margin-top: 3rem;
}

/* navigation */

nav {
  font-family: var(--mono);
  font-size: 80%;
  padding: 4rem 1rem;
}

nav h1 a {
  font-family: var(--sans);
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

nav li:first-child {
  flex-basis: 100%;
  text-align: center;
}

nav [class*="fa-"] {
  font-size: 150%;
  color: var(--aero);
}

nav h1 [class*="fa-"] {
  font-size: 100%;
  color: var(--aero);
}

nav h1 svg {
  height: 1.5rem;
  margin: 0 auto;
  color: var(--turquoise);
}

nav a {
  color: white;
  text-decoration: none;
  display: block;
}

nav a:hover,
nav [class*="fa-"]:hover {
  color: var(--turquoise);
}

.logo {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button {
  background-color: var(--turquoise);
  color: var(--black);
  padding: 0.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-family: var(--mono);
}

.button:hover {
  color: var(--black);
  background-color: var(--aquamarine);
}

/* footer section */

footer {
  text-align: center;
  padding: 4rem 0;
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 3rem;
  font-size: 3rem;
}

/* Certifications Section */

/* Projects section */
#projects,
#certifications {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

#projects h2,
#certifications h2 {
  font-size: 2.5rem;
  margin-bottom: calc(2.5rem * 1.5);
}
#projects h3 {
  color: var(--aero);
}
#projects h4 {
  font-size: 1rem;
  font-family: var(--mono);
  margin: 0;
}
.blackbox {
  background-color: var(--black);
  padding: 1rem;
  border-radius: 12px;
  color: var(--white);
  font-size: 1rem;
  line-height: 1.5;
}
.blackbox p {
  margin: 0;
}

#projects ul,
#certifications ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1rem;
}

#certifications ul {
  justify-content: center;
}

#projects img,
#certifications img {
  margin: 2rem 0 4rem 0;
  border-left: 1px solid var(--aero);
  border-top: 1px solid var(--aero);
  border-radius: 25px;
  padding: 1rem;
}

#certifications img {
  margin: 1rem 0 1rem 0;
  object-fit: scale-down;
  width: 160px;
}

/* Resume page */
#resume {
  padding: 0.5rem 2rem 10rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
}
#resume h2 {
  margin: 0.5rem 0;
}

#resume p {
  margin: 0.5rem 0;
}

.skills-certs-wrapper {
  padding-top: 2rem;
  display: flex
}
.skills, .certifications {
  display: flex;
  flex-direction: column;
  flex: 50%;
}

.skills-certs-wrapper ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 50%;
  margin-top: 0.5em;
}

.work-item {
  display: flex;
  /* flex-direction: column; */
}

.work-item-header-wrapper {
  display: flex;
  flex-direction: column;
  min-width: 25%;
  max-width: 25%;
}

.work-item-header-wrapper > * {
  margin-bottom: 0;
}

.education * {
  margin: 0.7rem 0;
}

.education h3 {
  margin-top: 1rem;
}


@media (min-width: 550px) {
  article {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
  }

  #projects img,
  #projects a.image {
    grid-column: 1/6;
    grid-row: 1/2;
  }
  .text {
    order: 2;
    text-align: right;
    grid-column: 5/11;
    grid-row: 1/2;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  #projects h3,
  #projects h4 {
    justify-self: start;
  }
  #projects ul {
    justify-content: flex-end;
  }
  #projects .reverse img,
  #projects .reverse a.image {
    grid-column: 5/11;
  }
  #projects .reverse .text {
    order: 1;
    text-align: left;
    grid-column: 1/6;
  }
  #projects .reverse ul {
    justify-content: flex-start;
  }

  .work-item {
    flex-direction: column;
  }
  .work-item ul {
    margin: .5rem 0 1rem 0;
  }
  .work-item-header-wrapper {
    max-width: 100%;
  }
  .work-item-header-wrapper > * {
    margin: .25rem 0;
  }
}

@media (min-width: 850px) {
  nav {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav li:first-child {
    flex-basis: auto;
    text-align: left;
    margin-right: auto;
  }
}
